<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    body {
      height: 100%;
    }

    .splash {
      text-align: center;
      margin: 10% 0 0 0;
      box-sizing: border-box;
    }

    .splash .message {
      font-size: 44px;
      line-height: 44px;
      font-family: Arial, sans-serif;
      margin-bottom: 2rem;
    }
  </style>
</head>
<body aurelia-app="main">
<div class="splash">
  <div class="message">Loading Aurelia App</div>
</div>
</body>
</html>